@import "bootstrap";

body {
  padding-top: 20px;
}

table {
    counter-reset: rowNumber;
}

table tr.with-counter {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
