<h1>Contacts</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>
        Email
      </th>
      <th>
        Message
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |contact|}}
      <tr>
        <td>
          {{contact.email}}
        </td>
        <td>
          {{contact.message}}
        </td>
      </tr>
      {{else}}
        <tr>
          <td colspan="2">
            <i>No contacts yet.</i>
          </td>
        </tr>
    {{/each}}
  </tbody>
</table>
